@mixin button {
  background: transparent;
  border: 2px solid $colorHeading;
  padding: 10px 30px;
  color: $colorHeading;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 600;
}

@mixin border {
  border-top: 1px solid #cccc;
  border-right: 1px solid #cccc;
  border-bottom: 1px solid #cccc;
}

@mixin form {
  background-color: transparent;
  outline: none;
  border: 1px solid #cccc;
}

@mixin ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding-right: 50px;
    color: #fff;
    cursor: pointer;
  }
  a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  a:hover {
    color: #fff;
  }
  img {
    width: 25px;
  }
}

@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}